.aboutHeader {
  background-color: #ece9e6;
  color: #111111cc;
}
.titlePart {
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.836);
}
.first {
  font-size: 34px;
  font-style: italic;
}
@media (max-width: 767px) {
  .aboutHeader {
    padding: 10px;
  }
  .titlePart {
    font-size: 33px;
    margin-top: 10px;
  }
  .first {
    padding: 8px;
    font-size: 24px;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .aboutHeader {
    padding: 60px;
  }
  .titlePart {
    font-size: 50px;
    margin-top: 30px;
  }
  .first {
    padding: 28px;
    font-size: 30px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .aboutHeader {
    padding: 60px;
  }
  .titlePart {
    font-size: 100px;
    margin-top: 30px;
  }
  .first {
    padding: 23px;
    margin-left: 0;
  }
}
