.nameLogo{
    /* font-weight: 900; */
    font-size: 25px;
    font-style: italic;
    font-weight:700;
    color: white;
    /* text-shadow: 2px 2px rgba(0, 0, 0, 0.678); */
}
.nameLogo:hover{
    font-size: 26px;
     text-shadow: 2px 2px rgba(0, 0, 0, 0.452);
}
.a{
    display: block;
}
.header{
    display: flex;
    background-color: #707c78;
    padding: 20px;
}
.navigation ul{
    display: flex;
    justify-content:space-between;
    gap: 450px;
    margin-top: 35px;
    margin-left: 100px;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.navigation a:hover{
     font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.452);
}