.formPart {
  margin: 80px;
  width: 30%;
}
label {
  display: block;
  margin-bottom: 1px;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background-color: #707c78;
  font-size: 15px;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
button:hover {
  background-color: #343636;
  transition-duration: 0.3s;
}
.contact {
  display: flex;
  justify-content: space-around;
}
.contactInfo {
  width: 20%;
  margin-top: 300px;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
}
@media (max-width: 767px) {
  .contact {
    display: block;
    margin: 20px;
  }
  .formPart {
    width: 60%;
    margin: 7px;
  }
  .contactInfo {
    width: 100%;
    margin-top: 0;
    font-size: 19px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: block;
    margin: 20px;
  }
  .formPart {
    width: 60%;
    margin: 7px;
  }
  .contactInfo {
    width: 100%;
    margin-top: 0;
    font-size: 19px;
  }
}
