.containerServices {
  background-color: #ece9e6;
  margin: 50px;
}
.infoServices h1 {
  font-size: 60px;
  color: #111111e7;
}
.infoServices p {
  font-size: 20px;
  color: #111111e7;
}
.service h2 {
  font-size: 40px;
  color: #111111e7;
}
.service p {
  font-size: 20px;
  color: #111111e7;
}
.infoServices {
  padding: 20px;
}
.service {
  padding: 20px;
}
.bookApp {
  padding: 20px;
}
.bookApp h2 {
  font-size: 30px;
  color: #111111e7;
}
.bookApp p {
  font-size: 15px;
  color: #111111e7;
}
.btn {
  display: inline-block;
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #707c78;
  border-color: transparent;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #343636;
}
@media (max-width: 767px) {
  .containerServices {
    margin: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .containerServices {
    margin: 20px;
  }
}
